/* Simple Timeline default styles */

.tc-timeline {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: var(--tc-transition);

  --tc-transition: 0.3s ease-out;
}

.tc-timeline-line {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: lightgray;
  transform: translateY(-50%);
  transition: var(--tc-transition);
}

.tc-timeline-track {
  box-sizing: border-box;
  position: absolute;
  height: 4px;
  background-color: lightgray;
  transform: translateY(-50%);
  transition: var(--tc-transition);
}

.tc-event-label {
  position: absolute;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid lightgray;
  background-color: white;
  font-size: 15px;
  transition: var(--tc-transition);
  width: max-content;
  max-width: 250px;
  z-index: 3;
}

.tc-event-line {
  position: absolute;
  box-sizing: border-box;
  width: 1px;
  background-color: currentColor;
  transition: var(--tc-transition);
  z-index: 1;
}

.tc-event-point {
  position: absolute;
  box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: currentColor;
  margin: 0 auto;
  transform: translate(-7px, -7px);
  transition: var(--tc-transition);
  z-index: 2;
}
